@{
	Layout = "_Layout2";
}
<div class="text-center">
	<a asp-action="New" class="btn btn-primary">New Role</a>
	<a class=" btn btn-success" asp-controller="Department" asp-action="Index">Return Back</a>
</div>

