@model List<Department>
@{
	var dept = Model;
	Layout = "_Layout2";
}
<h1> Search by name :</h1>
<form asp-action="Search">
	<div class="form-group">
		<label>Search :</label>
		<input type="text" name="SearchString" />
		<input type="submit" asp-action="Search" value="Search" class="btn btn-primary" /><br />
		@if (Model.Any())
		{
			<table class="table table-hover  table-bordered m-4 fw-bold table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Manager</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < dept.Count; i++)
					{
						<tr>
							<td>@(i + 1)</td>
							<td>@dept[i].Name</td>
							<td>@dept[i].DeptManager</td>
						</tr>
					}
				</tbody>
			</table>
			<br />
		}
		else
		{
			<br />	<div class="alert alert-warning">There are no items!</div>
		}
	</div>
</form>
<br />
<br />
<div class="text-center"><a asp-action="Index" asp-fragment="#" class="btn btn-success">Return back</a></div>

